.largura {
  width: 700px;
  margin: auto;
}

.menu {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  width: center;
  margin: 30px;;
  margin-bottom: 30px;
  
}

.menu > a {
  text-decoration: none;
  color:brown;
  margin-right: 20px;
}

.menu > a:visited {
  color:rgb(212, 48, 177);
}
.menu > a:hover {
  color:aqua;
}
h1 {
 font-family: 'Merriweather', serif;
 padding-bottom: 5px;
 border-bottom: 2px dotted black;
}

.conteudo {
  font-family: 'Merriweather', serif;
  line-height: 32px;
}
.img-principal{
  float: left;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.selecionado {
  border-bottom: 2px dotted black;
}
